<!DOCTYPE html>
<html>
  <head>
    <title><%= Rapid Recipes %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Rapid Recipes %></h1>
    <p>Welcome to <%= Rapid %></p>
  </body>
</html>
