<%- include('./partials/header') %>
   
<form action="/" method="POST">
  <h1> Welcome to Rapid Recipes </h1>
  <ul class="right">
    <li>
    
      <a href="/logout">Log Out</a>
    
      <a href="/auth/google">Login with Google</a>
    
    </li>
  </ul>
</form>  

<%- include('./partials/footer') %>