body {
  padding: 50px;
  font: 16px; 
  font-family: 'Domine', serif;
  background: rgba(255, 0, 0, 0.81);
}

.header{
  font-size:40px;
  text-align: center;
  color: azure;
}

a {
  color: azure;
  font-size: 20px;
}

.nav1 {  
  text-align: center;
  padding: 2px;
  margin: 2px;
}
.nav2 {  
  text-align: left;
}
.nav3 {  
  text-align: right;
}

#block1 {
border-style: hidden;
}

.sect1 {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 35px;
  border-style: solid;
  border-color: yellowgreen;
  border-bottom-width: auto;
  color: azure;
}

.sect2 {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 35px;
  border-style: solid;
  border-color: yellowgreen;
  border-bottom-width: auto;
  color: azure;
}
.sect2 img {
  display: center;
}

.footer {
  text-align: right;
  color: azure;
}