<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingredients</title>
</head>
<body>
    <h1 class = "header">Add Ingredients  <% recipe.title %></h1>
    <nav class = "nav1">
        <a href="/recipes">Home</a>
        <a href="/logout"><i class="logout"></i>Log Out</a>
        <a href="/recipes/<%= recipe._id%>">Back to Recipe</a></td>
    </nav>
    <% if (recipe.ingredient.length != 0) {%>
    <table>
       <thead>
           <tr>   
               <th>Ingredients</th>
               <th>amount</th>         
            </tr>
        </thead>
        <tbody>
        <% recipe.ingredient.forEach((ingredient) => { %>
          <tr>       
            <td><%= ingredient.name %></td>
            <td><%= ingredient.amount %></td>
          </tr>
        <% }) %>
        </tbody>
    </table>
    <% } %>
    <form action="/ingredients/<%=recipe._id%>" method="POST">
        <label >Name: 
            <textarea name="name" rows="2" cols="20"></textarea>
        </label>
        <label>Amount: 
            <textarea name="amount" rows="2" cols="20"></textarea>
        </label>
        <button type="submit">Add Ingredient</button>
    </form>
</body>
</html>