<%- include('../partials/header') %>
<div id="block2">
        <div class="sect4">
           <p>Categories</p>
        </div>
        <div class="sect5">
            <p>BreakFast</p>
        </div>
        <div class="sect6">
            <p>Lunch</p>
        </div>
        <div class="sect7">
            <p>Dinner</p>
        </div>
        <div class="sect8">
            <p>Create your our recipe</p>
        </div>
    
        <div class="sect9">
            <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/AN_images/low-carb-diet-meal-plan-and-menu-1296x728-feature.jpg?w=1155&h=1528" alt="salmon" sizes="auto" >
        </div>
</div>

<%- include('../partials/footer') %>