<!DOCTYPE html>
<html>
  <head>
    <title><%= Rapid Recipes %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Rapid Recipes</h1>
      <nav>
          <a href="/logout"><i class="logout"</i>Log Out</a>
      </nav>
      
      <div></div>
  </body>
</html>