<%- include('../partials/header') %>
<div class="sect1">
   <p>Ask the user to please log in to google. Talk about the recipe app.</p>
</div>

<div class="sect2">
<img src="http://static1.squarespace.com/static/5924b7ece58c6231c36ec01b/5b16f01a1ae6cf67b86c9132/5d200a6c0b9e9c00016fd55c/1562381009522/bbq_cookout_nyc_party-outdoor_festivals_nyc.jpg?format=1500w" alt="grilling" sizes="500" >
</div>

<%- include('../partials/footer') %>